body {
  /*background-color: #f2f2f2;*/
  background-image: url("imagens/5134336.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  text-align: center;
}

button {
  margin: 10px;
  padding: 9px 14px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  color: black;
  background-color: skyblue;
}

div {
  width: 550px;
  height: 150px;
  border-bottom: 1px solid gray;
}

p {
  text-align: center;
}

label {
  font-size: 17px;
  padding: 45px;
}

input {
  padding: 45px;
}

#t3 {
  text-align: center;
  font-size: 20px;
}

.main {
  border: 10px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 39%;
}

#t1 {
  font-size: 20px;
}

#t2 {
  font-size: 19px;
}
