body {
  background-image: url('../img/background_marmore.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #654d04;
}

button {
  margin: 10px;
  margin-top: 20px;
  padding: 9px 14px;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  color: black;
  background-color: rgb(232, 217, 174);
  cursor: pointer;
}

button:hover {
  background-color: #dcc073;
}

div {
  border-bottom: 1px solid rgb(203, 155, 83);
  padding-bottom: 15px;
}

p {
  text-align: center;
  padding-right: 90px;
  padding-left: 90px;
}

label {
  font-size: 15px;
  padding: 20px;
  color: #2C2B00;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

input {
  padding: 40px;
  color: #2C2B00;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

input[type='radio']:checked {
  accent-color: #7a6012;
}

.main {
  border: 10px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-left: 30%;
  margin-right: 30%;
}

#t1 {
  font-size: 20px;
  color: #2C2B00;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#t2 {
  font-size: 19px;
  color: #2C2B00;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#t3 {
  text-align: center;
  font-size: 20px;
  color: #2C2B00;
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #654d04;
}

footer {
  text-align: center;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

a {
  font-size: 18px;
  display: block;
  text-align: center;
  margin-top: 20px;
  color: rgb(115, 91, 21);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}